<?xml version="1.0" encoding="utf-8" ?>
<Options>
	<DateFrom>2003-01-01</DateFrom>

	<DownloadsAtOneGo Min="1" Max="10" />
	<SecondsBetweenDays Min="1" Max="30" />
	<SecondsBetweenDownloads Min="30" Max="60" />
	<SecondsToFirstDownload Min="5" Max="10" />

	<Regions>
		<!-- Northernmost point -->
		<Region>
			<Name>Hremiach</Name>
			<Directory>D:\Weather\Real\Hremyach/</Directory>
			<URLMask>http://meteo.ua/archive/1675/gremyach/{0}</URLMask>
		</Region>
		<!-- Southernmost point (almost) -->
		<Region>
			<Name>Sevastopol</Name>
			<Directory>D:\Weather\Real\Sevastopol/</Directory>
			<URLMask>http://meteo.ua/archive/146/sevastopol/{0}</URLMask>
		</Region>
		<!-- Westernmost point -->
		<Region>
			<Name>Solomonove</Name>
			<Directory>D:\Weather\Real\Solomonove/</Directory>
			<URLMask>http://meteo.ua/archive/18933/solomonovo/{0}</URLMask>
		</Region>
		<!-- Easternmost point -->
		<Region>
			<Name>Chervona Zirka</Name>
			<Directory>D:\Weather\Real\Chervona-Zirka/</Directory>
			<URLMask>http://meteo.ua/archive/29130/chervonaya-zirka/{0}</URLMask>
		</Region>

		<!-- Hoverla (highest point?) -->
		<Region>
			<Name>Hoverla</Name>
			<Directory>D:\Weather\Real\Hoverla/</Directory>
			<URLMask>http://meteo.ua/archive/18583/goverla/{0}</URLMask>
		</Region>
		<!-- Lowest point (?) -->
		<Region>
			<Name>Kuyalnyk</Name>
			<Directory>D:\Weather\Real\Kuyalnyk/</Directory>
			<URLMask>http://meteo.ua/archive/20920/kuyalnik/{0}</URLMask>
		</Region>

		<Region>
			<Name>Mariupol</Name>
			<Directory>D:\Weather\Real\Mariupol/</Directory>
			<URLMask>http://meteo.ua/archive/180/mariupol/{0}</URLMask>
		</Region>
		<Region>
			<Name>Sloviansk</Name>
			<Directory>D:\Weather\Real\Sloviansk/</Directory>
			<URLMask>http://meteo.ua/archive/28158/slavyansk/{0}</URLMask>
		</Region>

		<Region>
			<Name>Ivano-Frankivsk</Name>
			<Directory>D:\Weather\Real\Ivano-Frankivsk/</Directory>
			<URLMask>http://meteo.ua/archive/170/ivano-frankovsk/{0}</URLMask>
		</Region>
		<Region>
			<Name>Zhytomyr</Name>
			<Directory>D:\Weather\Real\Zhytomyr/</Directory>
			<URLMask>http://meteo.ua/archive/170/jitomir/{0}</URLMask>
		</Region>
		<Region>
			<Name>Lviv</Name>
			<Directory>D:\Weather\Real\Lviv/</Directory>
			<URLMask>http://meteo.ua/archive/170/lvov/{0}</URLMask>
		</Region>
		<Region>
			<Name>Ternopil</Name>
			<Directory>D:\Weather\Real\Ternopil/</Directory>
			<URLMask>http://meteo.ua/archive/170/ternopol/{0}</URLMask>
		</Region>

		<Region>
			<Name>Kyiv</Name>
			<Directory>D:\Weather\Real\Kyiv/</Directory>
			<URLMask>http://meteo.ua/archive/34/kiev/{0}</URLMask>
		</Region>
		<Region>
			<Name>Simferopol</Name>
			<Directory>D:\Weather\Real\Simferopol/</Directory>
			<URLMask>http://meteo.ua/archive/134/simferopol/{0}</URLMask>
		</Region>
		<Region>
			<Name>Donetsk</Name>
			<Directory>D:\Weather\Real\Donetsk/</Directory>
			<URLMask>http://meteo.ua/archive/169/donetsk/{0}</URLMask>
		</Region>
		<Region>
			<Name>Luhansk</Name>
			<Directory>D:\Weather\Real\Luhansk/</Directory>
			<URLMask>http://meteo.ua/archive/170/lugansk/{0}</URLMask>
		</Region>
		<Region>
			<Name>Odesa</Name>
			<Directory>D:\Weather\Real\Odesa/</Directory>
			<URLMask>http://meteo.ua/archive/111/odessa/{0}</URLMask>
		</Region>
		<Region>
			<Name>Kharkiv</Name>
			<Directory>D:\Weather\Real\Kharkiv/</Directory>
			<URLMask>http://meteo.ua/archive/150/harkov/{0}</URLMask>
		</Region>
		<Region>
			<Name>Uzhhorod</Name>
			<Directory>D:\Weather\Real\Uzhhorod/</Directory>
			<URLMask>http://meteo.ua/archive/83/ujgorod/{0}</URLMask>
		</Region>
	</Regions>
</Options>
